body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: rgb(245,245,245);
background: linear-gradient(126deg, rgba(245,245,245,1) 9%, rgba(216,185,233,1) 76%);
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-family: 'Roboto', sans-serif;
}

.fa, .fas {
  font-family: 'FontAwesome';
}

.social-icon {
color: #fff;
background: #221B14; 
font-size:1em;
border-radius: 50%;
line-height: 2.2em;
width: 2.1em;
height: 2.1em;
text-align: center;
display: inline-block;
}

li:hover {
  transform: translateY(-4px);
  transition:0.3s;
}

/*----  Main Style  ----*/



/* //make image square */
#cards_landscape_wrap-2 .card-flyer .image-box img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .7s ease;
  -ms-transition:all .9s ease; 
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
  
}
.play{
  display: none;
}

/* //show play button on hover on center of image */
#cards_landscape_wrap-2 .card-flyer:hover .play{
  display: block;
  position: absolute;
  top: 43%;
  left: 51%;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;

  
  font-size: 4rem;
  color: white;
}

#audioplayer{
  display: none;
}



